extends layout

block nav_list
	ul
		li
			a.active(href='#one') About Me
		li
			a(href='#two') Skills
		li
			a(href='#three') Personal Projects
		li
			a(href='#four') Reading List
		li
			a(href='#five') CV & Contact

block about_me
	section#one
		.container
			header.major
				h2 Matthew Lewis
				p About Me
					p I absolutely love building things; whether its Lego, Software or 
						a(href='http://www.ikea.com/') Swedish Flatpack Furniture
						| .
					p Enthusiastic but technically lacking 5-a-side footballer. Regular 
						a(href='https://en.wikipedia.org/wiki/Bouldering') boulderer 
						| who frequents various climbing gyms around London.
					p I work for 
						a(href='https://www.ubs.com/global/en.html') UBS 
						| writing software and building systems.

block skills
	section#two
		.container
			h3 Skills
			h4 Programming Languages
			ul(class="alt")
				li Java
				li Shell, Ant, Other build tools
				li Experience with C, C#, Python, VBA and JavaScript 
			h4 Systems and Technologies
			ul(class="alt")
				li Linux, Unix
				li Websphere, Tomcat, Apache, Node.js 
				li Oracle
				li Git, SVN, Jenkins, Sontaype Nexus

block projects
	section#three
		.container
			h3 Personal Projects
			p Source code can be found on my 
				a(href='https://github.com/mattylewis/') GitHub 
				| .
			.features
				article
					a.image(href='#')
						img(src='images/park_run_preview.png', alt='')
					.inner
						h4 Park Run Android App
						p
							| An unofficial application for viewing results and statistics of 
							a(href='http://www.parkrun.org.uk/') Park Runs.
						p 
							| The app includes barcode scanning functionality to allow users to check their times without having to enter their ID number.
						p
							i Note that the Park Run app is currently not available on the Google Play Store. Source will be on GitHub shortly.
				article
					a.image(href='#')
						img(src='images/playing_card.jpg', alt='')
					.inner
						h4 Demolition Whist
						p A second Android Application, this time using the far more mature Android Studio development environment.
						p Ambitions are to include a competitive AI implementation and attractive deal animations.  
						p 
							i Currently a work in progress. Watch this space.
				article
					a.image(href='#')
						img(src='images/scaleway.jpg', alt='')
					.inner
						h4 This Website
						p Created in a few evenings, this site is a product of  experimentation with a 
							a(href='https://www.scaleway.com/') Scaleway C1 ARM Microserver.
						p Fedora 22 is the underlying OS with 
							a(href='https://nodejs.org/en/') Node.js v4.0.0 
							| and 
							a(href='http://www.lighttpd.net/') lighttpd v1.4 
							| handling all the web related stuff.

block reading
	section#four
		.container
			h3 Reading List
			p A collection of recommended books, sites and comics.
			ul
				li 
					a(href='http://www.amazon.co.uk/Clean-Code-Handbook-Software-Craftsmanship/dp/0132350882') Clean Code: A Handbook of Agile Software Craftsmanship 
					| - Robert Martin
				li
					a(href='http://www.amazon.co.uk/Where-Eagles-Dare-Alistair-MacLean/dp/0006158048') Where Eagles Dare 
					| - Alistair MacLean
				li 
					a(href='http://www.amazon.co.uk/Martian-Andy-Weir/dp/0091956145') The Martian 
					| - Andy Weir
				li 
					a(href='http://cube-drone.com/comics/c/relentless-persistence') Cube Drone 
					| - Curtis Lassam
				li 
					a(href='https://what-if.xkcd.com/') XKCD: What if? 
					| - Randall Munroe
				li
					a(href='https://news.ycombinator.com/') Hacker News 
					| - Y Combinator

block contact
	section#five
	.container
		h3 CV & Contact Details
		p Drop an email to matthew 'at' mglewis.co.uk
		p You can also find my CV on 
			a(href='https://github.com/mattylewis/cv') GitHub 
