doctype html
html
	head
		title Matthew Lewis
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='stylesheets/main.css')
	| &#x9;
	body
		section#header
			header
				// span.image.avatar
				span.image.avatar
					img(src='images/profile_photo.jpg')
				h1#logo
					a(href='#') Matthew Lewis
				p Software Engineer, Technology Enthusiast, Londoner, Sports Fan 
			nav#nav
				block nav_list
		#wrapper
			#main
				block about_me
				block skills
				block projects
				block reading
				block contact

		script(src='javascripts/jquery.min.js')
		script(src='javascripts/jquery.scrollzer.min.js')
		script(src='javascripts/jquery.scrolly.min.js')
		script(src='javascripts/skel.min.js')
		script(src='javascripts/util.js')
		script(src='javascripts/main.js')
