extends layout

block content
	div(class="book") 
		div(class="book_title") Clean Code: A Handbook of Agile Software Craftsmanship
		div(class="book_author") Robert C. Martin
		div(class="book_isbn_13") ISBN-13 978-0132350884
		div(class="book_review") The best programming book I have read. A little Java centric but I believe most developers could do well to follow the key points 
	p
	div(class="book") 
		div(class="book_title") Where Eagles Dare
		div(class="book_author") Alistair MacLean
		div(class="book_isbn_13") ISBN-13 978-0006158042
		div(class="book_review") Written at the same time as the screenplay. Plot twists, action and generally good fun.
	p
	div(class="book") 
		div(class="book_title") The Martian
		div(class="book_author") Andy Weir
		div(class="book_isbn_13") ISBN-13 978-0091956134
		div(class="book_review") Excellent science fiction, the best book I've read in years.
	